In [2]:
import lsdb
import hats

In [37]:
def get_default_columns(path):
    hc = hats.read_hats(path)
    if isinstance(hc, hats.catalog.Catalog):
        default_cols = hc.catalog_info.default_columns
    elif isinstance(hc, hats.catalog.CatalogCollection):
        default_cols = hc.main_catalog.catalog_info.default_columns
    return default_cols

def open_catalog_star(path, columns=None, **kwargs):
    default_cols = get_default_columns(path)
    if columns is not None and "*" in columns:
        columns = default_cols + [c for c in columns if not c == "*"]
    return lsdb.open_catalog(path, columns=columns, **kwargs)

def open_catalog_keep(path, columns=None, keep_default_columns=False, **kwargs):
    if columns is not None and keep_default_columns:
        columns = get_default_columns(path) + columns
    return lsdb.open_catalog(path, columns=columns, **kwargs)

def open_catalog_addl(path, addl_columns, **kwargs):
    return lsdb.open_catalog(
        path,
        columns=get_default_columns(path) + addl_columns,
        **kwargs,
    )

In [33]:
cat_path = "../../../../lsdb/tests/data/small_sky_order1_default_columns"
cat = lsdb.open_catalog(cat_path)
cat

Dask NestedFrame Structure:
                                  ra              dec              id
npartitions=4
3170534137668829184  double[pyarrow]  double[pyarrow]  int64[pyarrow]
3242591731706757120              ...              ...             ...
3314649325744685056              ...              ...             ...
3386706919782612992              ...              ...             ...
3458764513820540928              ...              ...             ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [34]:
cat.hc_structure.

['id', 'ra', 'dec', 'ra_error', 'dec_error']

In [38]:
default_cols = get_default_columns(cat_path)
cat = lsdb.open_catalog(cat_path, columns=default_cols + ["ra_error"])
cat

Dask NestedFrame Structure:
                                  ra              dec              id        ra_error
npartitions=4
3170534137668829184  double[pyarrow]  double[pyarrow]  int64[pyarrow]  int64[pyarrow]
3242591731706757120              ...              ...             ...             ...
3314649325744685056              ...              ...             ...             ...
3386706919782612992              ...              ...             ...             ...
3458764513820540928              ...              ...             ...             ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [39]:
cat = open_catalog_keep(cat_path, columns=["ra_error"], keep_default_columns=True)
cat

Dask NestedFrame Structure:
                                  ra              dec              id        ra_error
npartitions=4
3170534137668829184  double[pyarrow]  double[pyarrow]  int64[pyarrow]  int64[pyarrow]
3242591731706757120              ...              ...             ...             ...
3314649325744685056              ...              ...             ...             ...
3386706919782612992              ...              ...             ...             ...
3458764513820540928              ...              ...             ...             ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [40]:
cat = open_catalog_addl(cat_path, addl_columns=["ra_error"])
cat

Dask NestedFrame Structure:
                                  ra              dec              id        ra_error
npartitions=4
3170534137668829184  double[pyarrow]  double[pyarrow]  int64[pyarrow]  int64[pyarrow]
3242591731706757120              ...              ...             ...             ...
3314649325744685056              ...              ...             ...             ...
3386706919782612992              ...              ...             ...             ...
3458764513820540928              ...              ...             ...             ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [35]:
cat = open_catalog_star(cat_path, columns=["*", "ra_error"])
cat

Dask NestedFrame Structure:
                                  ra              dec              id        ra_error
npartitions=4
3170534137668829184  double[pyarrow]  double[pyarrow]  int64[pyarrow]  int64[pyarrow]
3242591731706757120              ...              ...             ...             ...
3314649325744685056              ...              ...             ...             ...
3386706919782612992              ...              ...             ...             ...
3458764513820540928              ...              ...             ...             ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)