# Nested Parquet Serialization

This notebooks walks through the implementation of serialization support between nested-pandas and parquet

In [1]:
from nested_pandas.datasets.generation import generate_data

nf = generate_data(100,50, seed=1) #.rename({"b":"flux"}, axis=1)
nf

           a         b                                             nested
0   0.417022  0.653290  [{t: 19.003522, flux: 79.385006, band: 'r'}; …...
1   0.720324  1.054116  [{t: 11.133064, flux: 49.858364, band: 'r'}; …...
..       ...       ...                                                ...
98  0.002870  1.233557  [{t: 19.656342, flux: 33.822987, band: 'g'}; …...
99  0.617145  1.898033  [{t: 3.632257, flux: 65.051631, band: 'g'}; …]...

[100 rows x 3 columns]

## Nested-Pandas Parquet Writing

The core change to writing is that nested columns now write to disk as pure arrow dtypes rather than their nested-pandas NestedDtype.

In [2]:
nf.to_parquet("nf.parquet")

This means that the resulting parquet files should be readable by other parquet readers, without any dependency on nested-pandas.

In [3]:
import pandas as pd
pd.read_parquet("nf.parquet")

           a         b                                             nested
0   0.417022  0.653290  {'t': [19.003522384941594, 16.237173954410796,...
1   0.720324  1.054116  {'t': [11.133063763903127, 17.499232899117963,...
..       ...       ...                                                ...
98  0.002870  1.233557  {'t': [19.6563422746089, 10.222829565942565, 1...
99  0.617145  1.898033  {'t': [3.6322570266152754, 10.819036099243773,...

[100 rows x 3 columns]

## Nested-Pandas Parquet Reading

Conversely, nested-pandas will now try to cast any struct column it reads as a nested column:

In [4]:
import nested_pandas as npd
npd.read_parquet("nf.parquet")

           a         b                                             nested
0   0.417022   0.65329  [{t: 19.003522, flux: 79.385006, band: 'r'}; …...
1   0.720324  1.054116  [{t: 11.133064, flux: 49.858364, band: 'r'}; …...
..       ...       ...                                                ...
98   0.00287  1.233557  [{t: 19.656342, flux: 33.822987, band: 'g'}; …...
99  0.617145  1.898033  [{t: 3.632257, flux: 65.051631, band: 'g'}; …]...

[100 rows x 3 columns]

There are structs that exist that will not be castable:

In [5]:
import pyarrow as pa
import pyarrow.parquet as pq
# Dummy data for the struct array
field1 = pa.array([1, 2, 3])  # First field (e.g., integers)
field2 = pa.array(["a", "b", "c"])  # Second field (e.g., strings)
field3 = pa.array([[True], [False], [True, False]])  # Third field (e.g., booleans), mismatched inner length for nesting!

# Field names for the struct
field_names = ["field1", "field2", "field3"]

# Create the StructArray
struct_array = pa.StructArray.from_arrays(
    [field1, field2, field3],  # List of child arrays
    field_names  # List of field names
)

bad_tab = pa.Table.from_arrays([struct_array], names=["not_nestable"])
pq.write_table(bad_tab, "./not_nestable.parquet")

In [6]:
npd.read_parquet("not_nestable.parquet")

ValueError: Column 'not_nestable' is a Struct, but an attempt to cast it to a NestedDType failed. This is likely due to the struct not meeting the requirements for a nested column (all fields should be equal length). To proceed, you may add the column to the `reject_nesting` argument of the read_parquet function to skip the cast attempt.

In these cases, you can use the `reject_nesting` kwarg to avoid the cast:

In [7]:
npd.read_parquet("not_nestable.parquet", reject_nesting=["not_nestable"])

                                        not_nestable
0  {'field1': 1, 'field2': 'a', 'field3': array([...
1  {'field1': 2, 'field2': 'b', 'field3': array([...
2  {'field1': 3, 'field2': 'c', 'field3': array([...

### Partial Loading

This implementation allows for partial loading of nested columns, based on the inherent ability of pyarrow. These partial columns are loaded as part of their parent nested structure.

In [10]:
npd.read_parquet("nf.parquet", columns = ["a", "nested.flux", "nested.t"])

           a                                          nested
0   0.417022  [{flux: 79.385006, t: 19.003522}; …] (50 rows)
1   0.720324  [{flux: 49.858364, t: 11.133064}; …] (50 rows)
..       ...                                             ...
98   0.00287  [{flux: 33.822987, t: 19.656342}; …] (50 rows)
99  0.617145   [{flux: 65.051631, t: 3.632257}; …] (50 rows)

[100 rows x 2 columns]

In default pyarrow (and pyarrow backed pandas), this partial loading yields top-level columns. We can emulate this by rejecting the cast:

In [9]:
npd.read_parquet("nf.parquet", columns = ["a", "nested.flux"], reject_nesting="nested")

           a                                               flux
0   0.417022  [79.38500585 40.40960185 97.43260633 45.738867...
1   0.720324  [49.8583643  64.01644972 75.16724176 43.355271...
..       ...                                                ...
98   0.00287  [33.82298681 45.98679873 21.00738531 94.057641...
99  0.617145  [65.05163127 55.797723   22.68011162 79.724501...

[100 rows x 2 columns]

Notably, we lose the top-level column name, which will cause issues between base columns and sub columns that use the same name:

In [11]:
nf = generate_data(100,50, seed=1).rename({"b":"flux"}, axis=1)
nf.to_parquet("duplicate.parquet")

In [14]:
npd.read_parquet("duplicate.parquet", columns=["flux", "nested.flux"], reject_nesting="nested")

ArrowNotImplementedError: Unsupported cast from double to list using function cast_list

But this is not an issue when allowing the NestedDtype cast:

In [15]:
npd.read_parquet("duplicate.parquet", columns=["flux", "nested.flux"])

        flux                            nested
0    0.65329  [{flux: 79.385006}; …] (50 rows)
1   1.054116  [{flux: 49.858364}; …] (50 rows)
..       ...                               ...
98  1.233557  [{flux: 33.822987}; …] (50 rows)
99  1.898033  [{flux: 65.051631}; …] (50 rows)

[100 rows x 2 columns]

## Performance

This implementation shifts nested-pandas from using pandas parquet reader to instead use pyarrow's parquet reader. I had some concerns about this, as it means a conversion from a pyarrow table to a pandas dataframe is needed both ways, and this operations is [only zero-copy under certain conditions](https://arrow.apache.org/docs/python/pandas.html#zero-copy-series-conversions). I implemented a few checks to try to limit any potential speed/memory regressions:

In [2]:
from nested_pandas.datasets.generation import generate_data
nf = generate_data(1000,100, seed=1) #.rename({"b":"flux"}, axis=1)
nf.to_parquet("serial_test.parquet")

### Memory
Best to restart the kernel before running either of these cells

In [1]:
from memory_profiler import memory_usage
import pandas as pd

def myfunc():
  return pd.read_parquet("serial_test.parquet", columns=["a", "nested"], engine="pyarrow", dtype_backend="pyarrow")

    
mem = max(memory_usage(proc=myfunc))

print("Maximum memory used: {} MiB".format(mem))

Maximum memory used: 169.359375 MiB

In [1]:
from memory_profiler import memory_usage
import nested_pandas as npd

def myfunc():
  return npd.read_parquet("serial_test.parquet", columns=["a", "nested"])

mem = max(memory_usage(proc=myfunc))

print("Maximum memory used: {} MiB".format(mem))

Maximum memory used: 170.609375 MiB

### Time

In [3]:
import pandas as pd

In [8]:
%%timeit
pd.read_parquet("serial_test.parquet", columns=["a", "nested"], engine="pyarrow", dtype_backend="pyarrow")

2.46 ms ± 5.19 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [6]:
%%timeit
npd.read_parquet("serial_test.parquet", columns=["a", "nested"])

2.81 ms ± 9.22 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Remote Filesystems: using UPath

In [11]:
npd.read_parquet("https://epyc.astro.washington.edu/~lincc-frameworks/hipscat_surveys/erosita/erosita_dr1_erass1/Norder=0/Dir=0/Npix=2.parquet")

,IAUNAME,DETUID,SKYTILE,ID_SRC,UID,UID_Hard,ID_CLUSTER,RA,DEC,RA_RAW,DEC_RAW,RA_LOWERR,RA_UPERR,DEC_LOWERR,DEC_UPERR,POS_ERR,RADEC_ERR,LII,BII,ELON,ELAT,MJD,MJD_MIN,MJD_MAX,EXT,EXT_ERR,EXT_LOWERR,EXT_UPERR,EXT_LIKE,DET_LIKE_0,ML_CTS_1,ML_CTS_ERR_1,ML_CTS_LOWERR_1,ML_CTS_UPERR_1,ML_RATE_1,ML_RATE_ERR_1,ML_RATE_LOWERR_1,ML_RATE_UPERR_1,ML_FLUX_1,ML_FLUX_ERR_1,ML_FLUX_LOWERR_1,ML_FLUX_UPERR_1,ML_BKG_1,ML_EXP_1,ML_EEF_1,APE_CTS_1,APE_BKG_1,APE_EXP_1,APE_RADIUS_1,APE_POIS_1,DET_LIKE_P1,ML_CTS_P1,ML_CTS_ERR_P1,ML_CTS_LOWERR_P1,ML_CTS_UPERR_P1,ML_RATE_P1,ML_RATE_ERR_P1,ML_RATE_LOWERR_P1,ML_RATE_UPERR_P1,ML_FLUX_P1,ML_FLUX_ERR_P1,ML_FLUX_LOWERR_P1,ML_FLUX_UPERR_P1,ML_BKG_P1,ML_EXP_P1,ML_EEF_P1,APE_CTS_P1,APE_BKG_P1,APE_EXP_P1,APE_RADIUS_P1,APE_POIS_P1,DET_LIKE_P2,ML_CTS_P2,ML_CTS_ERR_P2,ML_CTS_LOWERR_P2,ML_CTS_UPERR_P2,ML_RATE_P2,ML_RATE_ERR_P2,ML_RATE_LOWERR_P2,ML_RATE_UPERR_P2,ML_FLUX_P2,ML_FLUX_ERR_P2,ML_FLUX_LOWERR_P2,ML_FLUX_UPERR_P2,ML_BKG_P2,ML_EXP_P2,ML_EEF_P2,APE_CTS_P2,APE_BKG_P2,APE_EXP_P2,APE_RADIUS_P2,APE_POIS_P2,DET_LIKE_P3,ML_CTS_P3,ML_CTS_ERR_P3,ML_CTS_LOWERR_P3,ML_CTS_UPERR_P3,ML_RATE_P3,ML_RATE_ERR_P3,ML_RATE_LOWERR_P3,ML_RATE_UPERR_P3,ML_FLUX_P3,ML_FLUX_ERR_P3,ML_FLUX_LOWERR_P3,ML_FLUX_UPERR_P3,ML_BKG_P3,ML_EXP_P3,ML_EEF_P3,APE_CTS_P3,APE_BKG_P3,APE_EXP_P3,APE_RADIUS_P3,APE_POIS_P3,DET_LIKE_P4,ML_CTS_P4,ML_CTS_ERR_P4,ML_CTS_LOWERR_P4,ML_CTS_UPERR_P4,ML_RATE_P4,ML_RATE_ERR_P4,ML_RATE_LOWERR_P4,ML_RATE_UPERR_P4,ML_FLUX_P4,ML_FLUX_ERR_P4,ML_FLUX_LOWERR_P4,ML_FLUX_UPERR_P4,ML_BKG_P4,ML_EXP_P4,ML_EEF_P4,APE_CTS_P4,APE_BKG_P4,APE_EXP_P4,APE_RADIUS_P4,APE_POIS_P4,DET_LIKE_P5,ML_CTS_P5,ML_CTS_ERR_P5,ML_CTS_LOWERR_P5,ML_CTS_UPERR_P5,ML_RATE_P5,ML_RATE_ERR_P5,ML_RATE_LOWERR_P5,ML_RATE_UPERR_P5,ML_FLUX_P5,ML_FLUX_ERR_P5,ML_FLUX_LOWERR_P5,ML_FLUX_UPERR_P5,ML_BKG_P5,ML_EXP_P5,ML_EEF_P5,APE_CTS_P5,APE_BKG_P5,APE_EXP_P5,APE_RADIUS_P5,APE_POIS_P5,DET_LIKE_P6,ML_CTS_P6,ML_CTS_ERR_P6,ML_CTS_LOWERR_P6,ML_CTS_UPERR_P6,ML_RATE_P6,ML_RATE_ERR_P6,ML_RATE_LOWERR_P6,ML_RATE_UPERR_P6,ML_FLUX_P6,ML_FLUX_ERR_P6,ML_FLUX_LOWERR_P6,ML_FLUX_UPERR_P6,ML_BKG_P6,ML_EXP_P6,ML_EEF_P6,APE_CTS_P6,APE_BKG_P6,APE_EXP_P6,APE_RADIUS_P6,APE_POIS_P6,DET_LIKE_P7,ML_CTS_P7,ML_CTS_ERR_P7,ML_CTS_LOWERR_P7,ML_CTS_UPERR_P7,ML_RATE_P7,ML_RATE_ERR_P7,ML_RATE_LOWERR_P7,ML_RATE_UPERR_P7,ML_FLUX_P7,ML_FLUX_ERR_P7,ML_FLUX_LOWERR_P7,ML_FLUX_UPERR_P7,ML_BKG_P7,ML_EXP_P7,ML_EEF_P7,APE_CTS_P7,APE_BKG_P7,APE_EXP_P7,APE_RADIUS_P7,APE_POIS_P7,DET_LIKE_P8,ML_CTS_P8,ML_CTS_ERR_P8,ML_CTS_LOWERR_P8,ML_CTS_UPERR_P8,ML_RATE_P8,ML_RATE_ERR_P8,ML_RATE_LOWERR_P8,ML_RATE_UPERR_P8,ML_FLUX_P8,ML_FLUX_ERR_P8,ML_FLUX_LOWERR_P8,ML_FLUX_UPERR_P8,ML_BKG_P8,ML_EXP_P8,ML_EEF_P8,APE_CTS_P8,APE_BKG_P8,APE_EXP_P8,APE_RADIUS_P8,APE_POIS_P8,DET_LIKE_P9,ML_CTS_P9,ML_CTS_ERR_P9,ML_CTS_LOWERR_P9,ML_CTS_UPERR_P9,ML_RATE_P9,ML_RATE_ERR_P9,ML_RATE_LOWERR_P9,ML_RATE_UPERR_P9,ML_FLUX_P9,ML_FLUX_ERR_P9,ML_FLUX_LOWERR_P9,ML_FLUX_UPERR_P9,ML_BKG_P9,ML_EXP_P9,ML_EEF_P9,APE_CTS_P9,APE_BKG_P9,APE_EXP_P9,APE_RADIUS_P9,APE_POIS_P9,APE_CTS_S,APE_BKG_S,APE_EXP_S,APE_POIS_S,FLAG_SP_SNR,FLAG_SP_BPS,FLAG_SP_SCL,FLAG_SP_LGA,FLAG_SP_GC_CONS,FLAG_NO_RADEC_ERR,FLAG_NO_EXT_ERR,FLAG_NO_CTS_ERR,FLAG_OPT,Norder,Dir,Npix
_hipscat_index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2305850970984153088,b'1eRASS J150021.3+001057',b'eb01_227090_020_ML00154_002_c010',227090,154,122709000154,0,144,225.089055,0.18273,225.089864,0.182042,3.024563,3.072646,3.63202,3.631488,3.590569,4.311378,357.257112,48.963814,222.569426,16.53664,58881.492188,58880.824219,58882.324219,0.0,0.0,0.0,0.0,0.0,16.201927,9.78603,3.505255,3.101283,3.909226,0.060328,0.021609,0.019118,0.024099,0.0,0.0,0.0,0.0,1.363216,162.213745,0.883602,8,1.102543,162.228546,7.63742,0.00002,3.596417,1.986781,1.528363,1.146522,1.910204,0.011986,0.00922,0.006917,0.011524,0.0,0.0,0.0,0.0,0.391004,165.7603,0.892302,2,0.274652,165.778671,7.088115,0.031473,16.314798,7.783568,3.083792,2.722581,3.445003,0.047116,0.018667,0.016481,0.020854,0.0,0.0,0.0,0.0,0.680614,165.199692,0.886942,6,0.508378,165.269348,7.33037,0.000016,0.0,0.0,0.720188,0.0,0.720188,0.0,0.004425,0.0,0.004425,0.0,0.0,0.0,0.0,0.335313,162.736816,0.883602,0,0.285918,162.508163,7.792741,<NA>,0.0,0.0,0.810631,0.0,0.810631,0.0,0.006421,0.0,0.006421,0.0,0.0,0.0,0.0,0.396935,126.249359,0.856246,0,0.545591,125.924736,9.965858,<NA>,0.0,0.0,0.723164,0.0,0.723164,0.0,0.009167,0.0,0.009167,0.0,0.0,0.0,0.0,0.32398,78.889977,0.732981,0,0.815125,78.90329,13.474854,<NA>,0.0,0.0,0.753902,0.0,0.753902,0.0,0.008928,0.0,0.008928,0.0,0.0,0.0,0.0,0.586692,84.443054,0.732981,2,1.46963,84.084846,13.474854,0.431959,0.0,0.0,0.723164,0.0,0.723164,0.0,0.008293,0.0,0.008293,0.0,0.0,0.0,0.0,0.107847,87.205757,0.732981,0,0.226302,87.229874,12.242433,<NA>,0.0,0.0,0.723164,0.0,0.723164,0.0,0.009968,0.0,0.009968,0.0,0.0,0.0,0.0,0.09988,72.546913,0.732981,0,0.251295,72.558632,13.474854,<NA>,0.0,0.0,0.723164,0.0,0.723164,0.0,0.010756,0.0,0.010756,0.0,0.0,0.0,0.0,0.094206,67.233315,0.700575,0,0.237018,67.244537,13.474854,<NA>,6,0.794295,164.194443,0.000177,0,0,0,0,0,0,0,0,0,0,0,2
2305853551567437824,b'1eRASS J145947.4+000857',b'em01_224090_020_ML00363_002_c010',224090,363,122409000363,0,352,224.947662,0.149204,224.948471,0.148516,4.226496,4.647298,3.901745,4.831957,5.138275,6.27472,357.07111,49.042725,222.438698,16.463123,58881.324219,58880.660156,58881.992188,0.0,0.0,0.0,0.0,0.0,7.374901,7.748109,3.310463,2.906891,3.714036,0.048921,0.020902,0.018354,0.02345,0.0,0.0,0.0,0.0,1.337781,158.378448,0.883602,6,1.088031,158.365646,7.684911,0.000916,0.0,0.0,1.147316,0.0,1.147316,0.0,0.007127,0.0,0.007127,0.0,0.0,0.0,0.0,0.38375,160.990906,0.892302,0,0.275561,161.771393,7.137591,<NA>,4.892533,4.512115,2.587122,2.185381,2.988863,0.027975,0.01604,0.013549,0.018531,0.0,0.0,0.0,0.0,0.680583,161.290985,0.886942,4,0.529535,161.339905,7.379,0.002153,4.796588,2.969751,1.891758,1.532242,2.251274,0.018671,0.011893,0.009633,0.014154,0.0,0.0,0.0,0.0,0.333964,159.060226,0.883602,2,0.281333,158.641876,7.839627,0.032879,0.0,0.0,0.727273,0.0,0.727273,0.0,0.005909,0.0,0.005909,0.0,0.0,0.0,0.0,0.396789,123.086472,0.856246,0,0.558993,123.04998,10.047058,<NA>,0.0,0.0,0.64571,0.0,0.64571,0.0,0.008362,0.0,0.008362,0.0,0.0,0.0,0.0,0.320981,77.218544,0.732981,0,0.831559,77.534195,13.56423,<NA>,0.0,0.0,0.624855,0.0,0.624855,0.0,0.0076,0.0,0.0076,0.0,0.0,0.0,0.0,0.575038,82.219093,0.732981,0,1.489532,82.570625,13.56423,<NA>,0.0,0.0,0.727273,0.0,0.727273,0.0,0.008498,0.0,0.008498,0.0,0.0,0.0,0.0,0.099503,85.579941,0.732981,0,0.212679,85.565765,12.325312,<NA>,0.0,0.0,0.783708,0.0,0.783708,0.0,0.011022,0.0,0.011022,0.0,0.0,0.0,0.0,0.100975,71.102203,0.732981,0,0.261579,71.371544,13.56423,<NA>,0.0,0.0,0.727273,0.0,0.727273,0.0,0.010965,0.0,0.010965,0.0,0.0,0.0,0.0,0.100214,66.327454,0.700575,0,0.258751,66.321632,13.56423,<NA>,6,0.810868,160.289551,0.000198,0,0,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894304609604468736,b'1eRASS J130758.2+243306',b'eb01_196066_020_ML00127_002_c010',196066,127,119606600127,0,120,196.992536,24.551742,196.993201,24.55177,2.650033,2.941998,2.748716,2.584479,3.312554,3.954164,359.146941,85.475099,185.163698,29.141785,58832.257812,58831.757812,58832.757812,0.0,0.0,0.0,0.0,0.0,20.485023,9.612152,3.317594,3.019153,3.616034,0.076938,0.026555,0.024166,0.028944,0.0,0.0,0.0,0.0,0.725786,124.933739,0.883602,9,0.60301,124.973137,7.637269,0.0,11.980948,4.031812,2.11992,1.637819,2.602022,0.031798,0.01672,0.012917,0.020522,0.0,0.0,0.0,0.0,0.257556,126.79258,0.892302,4,0.181571,126.871948,7.090103,0.000039,6.085128,3.183492,1.932009,1.570451,2.293566,0.025028,0.015189,0.012346,0.018031,0.0,0.0,0.0,0.0,0.300891,127.198318,0.886942,3,0.222714,127.177971,7.331543,0.001559,3.603082,1.958534,1.640829,1.211852,2.069807,0.015652,0.013113,0.009685,0.016541,0.0,0.0,0.0,0.0,0.237608,125.130524,0.883602,2,0.203897,125.182281,7.791794,0.018166,0.0,0.0,0.727273,0.0,0.727273,0.0,0.007455,0.0,0.007455,0.0,0.0,0.0,0.0,0.306736,97.558174,0.856246,0,0.421183,97.534439,9.921062,<NA>,0.0,0.0,1.482111,0.0,1.482111,0.0,0.024095,0.0,0.024095,0.0,0.0,0.0,0.0,0.264751,61.510658,0.732981,1,0.661762,61.675724,13.375146,0.484059,0.0,0.0,0.981367,0.0,0.981367,0.0,0.014997,0.0,0.014997,0.0,0.0,0.0,0.0,0.468874,65.439651,0.732981,2,1.171659,65.615433,13.375146,0.327106,0.0,0.0,0.727273,0.0,0.727273,0.0,0.010686,0.0,0.010686,0.0,0.0,0.0,0.0,0.083771,68.055443,0.732981,0,0.173478,68.04718,12.153952,<NA>,0.0,0.0,1.48203,0.0,1.48203,0.0,0.026145,0.0,0.026145,0.0,0.0,0.0,0.0,0.081541,56.684597,0.732981,1,0.204073,56.840534,13.375146,0.184597,0.0,0.0,1.3679,0.0,1.3679,0.0,0.026041,0.0,0.026041,0.0,0.0,0.0,0.0,0.078461,52.528,0.700575,1,0.196235,52.699089,13.375146,0.178181,5,0.426611,126.401543,0.000083,0,0,0,0,0,0,0,0,0,0,0,2
2894310974330765312,b'1eRASS J130756.5+243559',b'eb01_196066_020_ML00129_002_c010',196066,129,119606600129,0,122,196.985674,24.599924,196.986339,24.599951,3.684405,4.748827,2.828425,2.444375,4.891197,5.963196,359.600879,85.508072,185.13323,29.182436,58832.089844,58831.589844,58832.757812,0.0,0.0,0.0,0.0,0.0,19.384033,9.212089,3.272021,2.925447,3.618594,0.07378,0.026206,0.02343,0.028982,0.0,0.0,0.0,0.0,0.729552,124.858391,0.883602,8,0.586478,124.808273,7.626793,0.0,7.400872,2.96365,1.826647,1.399752,2.253542,0.02336,0.014398,0.011033,0.017763,0.0,0.0,0.0,0.0,0.259052,126.867249,0.892302,3,0.179485,126.762421,7.07791,0.000843,4.054328,2.275659,1.688566,1.307035,2.070098,0.017916,0.013294,0.01029,0.016298,0.0,0.0,0.0,0.0,0.300631,127.015221,0.886942,2,0.221913,127.015388,7.320029,0.021266,9.192818,3.49879,2.122011,1.440822,2.803201,0.027983,0.016972,0.011524,0.02242,0.0,0.0,0.0,0.0,0.237491,125.032135,0.883602,3,0.202772,125.013481,7.78192,0.001194,0.0,0.0,0.806696,0.0,0.806696,0.0,0.008282,0.0,0.008282,0.0,0.0,0.0,0.0,0.306651,97.403442,0.856246,0,0.423903,97.417885,9.910282,<NA>,0.0,0.0,1.504699,0.0,1.504699,0.0,0.024436,0.0,0.024436,0.0,0.0,0.0,0.0,0.264978,61.578186,0.732981,1,0.654367,61.536961,13.353394,0.480229,0.0,0.0,1.3695,0.0,1.3695,0.0,0.020902,0.0,0.020902,0.0,0.0,0.0,0.0,0.469782,65.519714,0.732981,1,1.160289,65.476517,13.353394,0.686604,0.0,0.0,1.414879,0.0,1.414879,0.0,0.02079,0.0,0.02079,0.0,0.0,0.0,0.0,0.083798,68.054459,0.732981,1,0.171715,67.922523,12.1296,0.157781,0.0,0.0,0.996683,0.0,0.996683,0.0,0.017585,0.0,0.017585,0.0,0.0,0.0,0.0,0.08173,56.677898,0.732981,0,0.202197,56.700981,13.353394,<NA>,0.0,0.0,0.722144,0.0,0.722144,0.0,0.013747,0.0,0.013747,0.0,0.0,0.0,0.0,0.078365,52.532845,0.700575,0,0.193651,52.532463,13.353394,<NA>,5,0.424686,126.236511,0.000081,0,0,0,0,0,0,0,0,0,0,0,2