In [61]:
from nested_pandas import NestedFrame
import pandas as pd
import numpy as np
import os

In [80]:
base_size=1000
n1_size=1000000
n2_size=300000

base_data = {"ra": np.random.random(base_size)*20, "dec": np.random.random(base_size)*50}
nested1_data = {"mjd":np.random.random(n1_size)*20, "flux": np.random.random(n1_size)*300, 
                "band":np.random.choice(["r","g"], size=n1_size),
                "index": np.array(range(0,n1_size)) % base_size}

nested2_data = {"mjd":np.random.random(n2_size)*20, "flux": np.random.random(n2_size)*300, 
                "band":np.random.choice(["g","i"], size=n2_size),
                "index": np.array(range(0,n2_size)) % base_size}

In [81]:
 # Generate some test data


base = pd.DataFrame(data=base_data)

nested1 = pd.DataFrame(data=nested1_data).set_index("index")

nested2 = pd.DataFrame(data=nested2_data).set_index("index")

# Save to parquet
base.to_parquet("objects.parquet")
nested1.to_parquet("ztf_sources.parquet")
nested2.to_parquet("ps1_sources.parquet")

In [57]:
nested2

             mjd        flux band
index
0       6.072387  279.065569    g
1       7.423771  143.823652    g
2       0.576766  136.541176    i
3      13.261524  120.090341    g
4       4.741164   98.494030    g
...          ...         ...  ...
95      8.883534   13.548509    i
96     19.754529  167.386562    i
97     10.069857  289.509918    i
98      1.498886   41.580981    i
99      5.534895  209.082392    i

[15000 rows x 3 columns]

In [33]:
np.random.choice(range(0,100), size=100)

array([ 0, 87, 57, 89, 77, 74, 39, 43, 39, 62, 34,  8, 66, 16, 81, 94,  9,
       21, 58, 74, 94, 35, 72, 19, 20, 29, 24,  5, 73, 90, 29, 99, 58, 98,
        6, 59, 46, 77,  8, 56, 16, 49, 94, 88, 18, 94,  3, 96, 71, 59, 18,
       64, 57, 28, 22, 48, 13, 82, 96, 39, 89, 38, 52, 70, 47, 41, 23, 66,
       36, 63, 95, 51,  9, 97, 71,  0, 33,  8, 34, 81, 83, 80, 15, 15, 28,
       15, 14, 68, 65, 15, 71, 93, 32, 15, 50, 49, 60, 88, 42,  0])