In [1]:
import lsdb

In [2]:
cat = lsdb.read_hats("../../../../lsdb/tests/data/small_sky_order1_nested_sources")
cat

Dask NestedFrame Structure:
                                 id               ra              dec        ra_error       dec_error                                                                                                                                                         sources
npartitions=4
3170534137668829184  int64[pyarrow]  double[pyarrow]  double[pyarrow]  int64[pyarrow]  int64[pyarrow]  nested<source_id: [int64], source_ra: [double], source_dec: [double], mjd: [double], mag: [double], band: [string], object_ra: [double], object_dec: [double]>
3242591731706757120             ...              ...              ...             ...             ...                                                                                                                                                             ...
3314649325744685056             ...              ...              ...             ...             ...                                                                                                                                                             ...
3386706919782612992             ...              ...              ...             ...             ...                                                                                                                                                             ...
3458764513820540928             ...              ...              ...             ...             ...                                                                                                                                                             ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [3]:
cat.compute()

                      id     ra   dec  ra_error  dec_error  \
_healpix_29
3187422220182231470  707  308.5 -69.5         0          0
3187796123455121090  792  320.5 -69.5         0          0
...                  ...    ...   ...       ...        ...
3400255793565258227  767  314.5 -29.5         0          0
3424180623569024089  743  307.5 -25.5         0          0

                                                               sources
_healpix_29
3187422220182231470  [{source_id: 74859, source_ra: 308.584555, sou...
3187796123455121090  [{source_id: 79856, source_ra: 320.518757, sou...
...                                                                ...
3400255793565258227  [{source_id: 76337, source_ra: 314.926738, sou...
3424180623569024089  [{source_id: 76540, source_ra: 307.810445, sou...

[131 rows x 6 columns]

In [5]:
exploded = cat.explode(column="sources")
exploded

Dask NestedFrame Structure:
                                 id               ra              dec        ra_error       dec_error       source_id        source_ra       source_dec              mjd              mag             band        object_ra       object_dec
npartitions=4
3170534137668829184  int64[pyarrow]  double[pyarrow]  double[pyarrow]  int64[pyarrow]  int64[pyarrow]  int64[pyarrow]  double[pyarrow]  double[pyarrow]  double[pyarrow]  double[pyarrow]  string[pyarrow]  double[pyarrow]  double[pyarrow]
3242591731706757120             ...              ...              ...             ...             ...             ...              ...              ...              ...              ...              ...              ...              ...
3314649325744685056             ...              ...              ...             ...             ...             ...              ...              ...              ...              ...              ...              ...              ...
3386706919782612992             ...              ...              ...             ...             ...             ...              ...              ...              ...              ...              ...              ...              ...
3458764513820540928             ...              ...              ...             ...             ...             ...              ...              ...              ...              ...              ...              ...              ...
Dask Name: nestedframe, 5 expressions
Expr=MapPartitions(NestedFrame)

In [6]:
exploded.compute()

,id,ra,dec,ra_error,dec_error,source_id,source_ra,source_dec,mjd,mag,band,object_ra,object_dec
_healpix_29,,,,,,,,,,,,,
3187422220182231470,707,308.5,-69.5,0,0,74859,308.584555,-69.462753,58702.504576,16.338498,i,308.5,-69.5
3187422220182231470,707,308.5,-69.5,0,0,77874,309.001417,-69.498428,58912.758183,19.832633,y,308.5,-69.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3424180623569024089,743,307.5,-25.5,0,0,70604,307.553185,-25.007915,58406.843975,16.936253,u,307.5,-25.5
3424180623569024089,743,307.5,-25.5,0,0,86081,307.606224,-24.926633,59488.818985,16.745674,i,307.5,-25.5