In [16]:
import lsdb
import pandas as pd
from hats import HealpixPixel

In [6]:
cat = lsdb.open_catalog("../../../../lsdb/tests/data/small_sky_order1_source_collection")

In [7]:
cat

Dask NestedFrame Structure:
                          source_id        source_ra       source_dec              mjd              mag             band       object_id        object_ra       object_dec
npartitions=5
1152921504606846976  int64[pyarrow]  double[pyarrow]  double[pyarrow]  double[pyarrow]  double[pyarrow]  string[pyarrow]  int64[pyarrow]  double[pyarrow]  double[pyarrow]
3170534137668829184             ...              ...              ...              ...              ...              ...             ...              ...              ...
...                             ...              ...              ...              ...              ...              ...             ...              ...              ...
3386706919782612992             ...              ...              ...              ...              ...              ...             ...              ...              ...
3458764513820540928             ...              ...              ...              ...              ...              ...             ...              ...              ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [9]:
cat.map_partitions(lambda df: pd.DataFrame({'avg_mag': [df["mag"].mean()]}), run_single_partition=True)

     avg_mag
0  18.003702

In [14]:
cat.cone_search(348, -29, 1000).map_partitions(lambda df: pd.DataFrame({'avg_mag': [df["mag"].mean()]}), run_single_partition=True)

     avg_mag
0  18.011631

In [15]:
cat.map_partitions(lambda df: pd.DataFrame({'avg_mag': [df["mag"].mean()]}), run_single_partition=True, partition_index=1)

    avg_mag
0  17.97938

In [17]:
cat.map_partitions(lambda df: pd.DataFrame({'avg_mag': [df["mag"].mean()]}), run_single_partition=True, partition_index=HealpixPixel(1, 45))

     avg_mag
0  17.992846