# General Filtering with LSDB/HATS

In [1]:
import lsdb
from lsdb.core.search.box_search import BoxSearch
gaia_dr3_host = "https://data.lsdb.io"
# gaia_dr3_host = "http://localhost:6500"

columns_of_interest = ['source_id', 'ra', 'dec', 'phot_g_mean_mag']
gaia_dr3 = lsdb.read_hats(
    gaia_dr3_host + "/hats/gaia_dr3/gaia",
    columns=columns_of_interest,
    filters=[ ["phot_g_mean_mag", ">", 16] ],
    # NOTE: remove this search_filter to filter the whole sky
    search_filter=BoxSearch(ra=(280-0.5, 280+0.5), dec=(-60-0.5, -60+0.5)),
)

In [2]:
gaia_dr3.compute()

,source_id,ra,dec,phot_g_mean_mag
_healpix_29,,,,
3316495939410683951,6632991876687604864,280.119779,-60.499773,19.920464
3316495946648235626,6632991880986511744,280.137903,-60.48948,16.64279
3316495949444149996,6632991880986512256,280.11742,-60.493504,18.895765
3316495952162173500,6632991876687623168,280.13352,-60.488696,20.488722
3316495952614338213,6632991876691801856,280.139031,-60.488338,18.65181
...,...,...,...,...
3318082623717553892,6636165239047159936,279.903859,-59.501931,20.67772
3318082625014694922,6636165243339852032,279.919981,-59.501368,19.80466
3318082628784680895,6636165239046033536,279.891532,-59.503748,20.158606
3318082690942021935,6636165380781563264,279.824853,-59.507022,20.98498
3318082698981945104,6636165380780579456,279.82305,-59.50301,20.71475